@font-face {
    font-family: 'Playfair Display';
    src: url('PlayfairDisplay-SemiBold.eot');
    src: local('Playfair Display SemiBold'), local('PlayfairDisplay-SemiBold'),
        url('PlayfairDisplay-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('PlayfairDisplay-SemiBold.woff2') format('woff2'),
        url('PlayfairDisplay-SemiBold.woff') format('woff'),
        url('PlayfairDisplay-SemiBold.ttf') format('truetype'),
        url('PlayfairDisplay-SemiBold.svg#PlayfairDisplay-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('PlayfairDisplay-ExtraBold.eot');
    src: local('Playfair Display ExtraBold'), local('PlayfairDisplay-ExtraBold'),
        url('PlayfairDisplay-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('PlayfairDisplay-ExtraBold.woff2') format('woff2'),
        url('PlayfairDisplay-ExtraBold.woff') format('woff'),
        url('PlayfairDisplay-ExtraBold.ttf') format('truetype'),
        url('PlayfairDisplay-ExtraBold.svg#PlayfairDisplay-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('PlayfairDisplay-Bold.eot');
    src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'),
        url('PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('PlayfairDisplay-Bold.woff2') format('woff2'),
        url('PlayfairDisplay-Bold.woff') format('woff'),
        url('PlayfairDisplay-Bold.ttf') format('truetype'),
        url('PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('PlayfairDisplay-Black.eot');
    src: local('Playfair Display Black'), local('PlayfairDisplay-Black'),
        url('PlayfairDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('PlayfairDisplay-Black.woff2') format('woff2'),
        url('PlayfairDisplay-Black.woff') format('woff'),
        url('PlayfairDisplay-Black.ttf') format('truetype'),
        url('PlayfairDisplay-Black.svg#PlayfairDisplay-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('PlayfairDisplay-Medium.eot');
    src: local('Playfair Display Medium'), local('PlayfairDisplay-Medium'),
        url('PlayfairDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('PlayfairDisplay-Medium.woff2') format('woff2'),
        url('PlayfairDisplay-Medium.woff') format('woff'),
        url('PlayfairDisplay-Medium.ttf') format('truetype'),
        url('PlayfairDisplay-Medium.svg#PlayfairDisplay-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('PlayfairDisplay-Regular.eot');
    src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
        url('PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('PlayfairDisplay-Regular.woff2') format('woff2'),
        url('PlayfairDisplay-Regular.woff') format('woff'),
        url('PlayfairDisplay/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
